@use 'base/variables' as v;
@use 'base/mixins' as m;

.notavif.notwebp .header {
    background-image: linear-gradient( to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1) 100%), url('../img/header_bg.jpg');
}
.webp .header {
    background-image: linear-gradient( to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1) 100%), url('../img/header_bg.webp');
}
.avif .header {
    background-image: linear-gradient( to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1) 100%), url('../img/header_bg.avif');
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    padding: 3rem 0;
    position: relative;

    @include m.tablet {
        padding: 3rem 0 20rem 0;
    }
    &__barra {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__logo {
        width: 25rem;
    }
    &__contenido {

        @include m.tablet {
            margin-top: 10rem;
            max-width: 50rem;
        }
    }
    &__heading {
        color: v.$blanco;
        text-align: center;
        
        @include m.tablet {
            text-align: left;
        }
    }
    &__texto {
        color: v.$blanco;
        display: none;
        @include m.tablet {
            display: block;
        }
    }
    &__box-img {
        display: none;

        @include m.tablet {
            display: block;
            position: absolute;
            right: 0;
            bottom: -5rem;
            border-start-start-radius: 2rem;
            border-end-start-radius: 5rem;
            overflow: hidden;
        }
    }
    &__imagen {
        width: 35rem;
        height: auto;

        @include m.desktop {
            width: 45rem;
        }
        @include m.desktopXL {
            width: 60rem;
        }
        @media (min-width: 1700px) {
            width: 75rem;
        }
    }
}

.navegacion {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include m.tablet {
        margin-top: 0;
        flex-direction: row;
        gap: 1rem;
    }
    &__link {
        color: v.$blanco;
        font-size: 1.8rem;
    }
}